html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Fill full browser height */
}

.main-content {
  flex: 1; 
}


/* Shared Button Styles */
.button {
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .button-primary {
    background: #000;
    color: #fff;
    border: none;
  }
  
  .button-secondary {
    background: #fff;
    color: #000;
    border: 1px solid #000;
  }
  
  /* Shared Navbar Styles */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between; /* Space between title and links */
  align-items: center;
  padding: 20px 40px;
  gap: 20px; /* Space between title and links */
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-logo-title {
  display: flex;          
  align-items: center;    
}

.navbar-logo {
  width: 40px;     
  height: 40px;     
  margin-right: 10px;
}

.navbar h1 {
  font-size: 24px;
  font-weight: bold;
}

.navbar-links-container {
  display: flex; 
  justify-content: flex-end; /* Align links to the right */
}

.navbar-links {
  display: flex; /* Align links in a row */
  list-style: none; 
  margin: 0;
  padding: 0;
  gap: 20px; /* Space between links */
}

.navbar-links li {
  font-size: 18px;
  display: flex; /* Flex layout ensures alignment */
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  cursor: pointer;
}

.navbar-links span {
  display: inline-block; /* Ensures proper sizing for padding */
  text-decoration: none; /* Remove underline */
  color: #000; /* Set link color */
  line-height: 1; /* Reduce unnecessary vertical spacing */
}

.navbar-links span:hover {
  text-decoration: underline; /* Add underline on hover */
}
  
  /* Shared Footer Styles */
  footer {
    text-align: center;
    padding: 3px;
  }

  .section-footer{
    background-color: #cbcbcb;
    padding: 14px;
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }

  .container-footer{
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 1144px;
    height: 100px;
    position: relative;
  }

  .footer-text {
    color: #000000;
    text-align: center;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
    width: 307px;
    display: flex;
    align-items: center;
    justify-content: center;
  } 

  .container-footer .footer-text:not(.exclude):hover {
    text-decoration: underline;
    cursor: pointer;
  }
